@import "tailwindcss";


/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#99a0b2] text-white;
  font-family: 'Poppins', sans-serif;
  background: #020617;
  color: white;
  cursor: none;
}

/* Glow effect */
.glow {
  text-shadow: 0 0 20px rgba(34, 211, 238, 0.7);
}